.div-img > div {
    display: flex;
    flex-direction: row;
}

.div-img > div > i {
    width: 25px;
}

.div-main {
    flex-direction: column;
}

.div-type {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.div-type > div {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 160px;
}

.pad > img {
    padding: 10px;
}

.div-type-chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 450px;
}

p, h3 {
    margin: 0px;
}